# Virtual Environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Models 
# models/*.pkl